.attribution { 
  position: sticky;
  bottom:0px ;
  margin-top: 20px;

  font-size: 11px; text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }

html{font-family: 'Outfit', sans-serif;}

body{
  height: 100vh;
  width: 100vw;
  text-align: center;

  padding-top: auto;
  padding-bottom: auto;
  background-color: hsl(212, 45%, 89%);
}

.flex{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.central{
  width: 330px;
  height: auto;
  display:inline-block;
  text-align: center;
  background-color: white;
  justify-content: center;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  padding-bottom: 15px;
}
p{
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
h1{
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
img{
  width: 300px;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
  margin: 15px 15px 10px 15px;
}


